.menu {

	background-color:#494848;
	height:50px;
	width:100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	
}

.menu li{
	display:inline;
	margin:5px;
	vertical-align:middle;
	height:100%;
	
}

.menu button{
	color:#d3d7cf;
	background-color:inherit;
	text-decoration:none;
	border:window;
	height:100%;
}

.menu button:hover{
	color:#2e3436;
	background-color:#b3e6ff;
}

.menu ul{
	height:100%;
	text-align:center;
}

.menu button:active{
	color:white;
	background-color:#888a85;
}

.simpleForm{
	background-color: #eff8f9;
	padding: 32px;
}
input{
	border:2px;
	border-style:solid;
	border-color: #babdb6;
	border-radius: 8px;

}



.bottom{
	padding: 10px; 
	background-color: #eeeeec;
	color:#2e3436; 
	border-bottom-left-radius: 12px; 
	border-bottom-right-radius: 12px;
}

#connexion{
	margin-top:10px;
}